<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <title>Welcome to Music Magellan</title>
  <link rel="stylesheet" href="/assets/styles/style.css" />
  <script type="text/javascript" src="/vendors/angular.min.js"></script>
  <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
  <script type="text/javascript" src="/assets/scripts/userapp.js"></script>
  <script type="text/javascript" src="/assets/scripts/factories/dataFactory.js"></script>
  <script type="text/javascript" src="/assets/scripts/factories/passportFactory.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/userHomeController.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/discoverMusicController.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/savedPlaylistsController.js"></script>
  <script type="text/javascript" src="/assets/scripts/controllers/signInController.js"></script>


</head>
<body>
  <header ng-include="'/templates/header.html'"></header>
  <nav ng-include="'/templates/nav.html'"></nav>
  <main ng-view></main>
  <footer ng-include="'/templates/footer.html'"></footer>

</body>
</html>
