<div class="container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h1>About This App</h1>
            <p>
                The primary focus of this application is to provide a music discovery experience.
                With the click of a button, you can retrieve a random song from whatever specified genre
                you want to explore.
            </p>
            <p>
                Coming soon: Ability to create playlists of songs you've discovered.
            </p>
            <p>
                Technologies used: PostgreSQL, Express, AngularJS, Node.js, Passport,
                Spotify API, Bootstrap, UI Bootstrap, Heroku
            </p>
        </div>
    </div>
</div>
