<h2>add some songs!</h2>
<form>
  <label for="song">Song:</label>
  <input type="text" ng-model="song" id="song" />
  <label for="artist">Artist:</label>
  <input type="text" ng-model="artist" id="artist" />
  <label for="album">Album:</label>
  <input type="text" ng-model="album" id="album" />

  <button id="add-song-button" ng-click="addOwnSong()">Add to Playlist</button>

</form>

<div ng-repeat="tune in songChoice">
  <p>{{tune.song}}</p>
  <p>{{tune.artist}}</p>
  <p>{{tune.album}}</p>
</div>
