<div class="container">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <h2>You are {{userName}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">


      <!--<select ng-model="selectedPlaylist" ng-options="playlistName.title for playlistName in playlistNames"></select>-->
      <!--<div class="playlist-page-container">-->
      <table class="table">
        <thead>
          <tr><th>Your Playlists</th></tr>
        </thead>
        <tbody ng-repeat="playlistName in playlistNames">
          <tr class="select-playlist-table-row" ng-click="getPlaylistInfo($index)"><td>{{playlistName.title}}</td></tr>
        </tbody>
      </table>



        <!--<section class="playlist-selector-container" ng-repeat="playlistName in playlistNames">-->
          <!--<button class="playlist-selector-button" ng-click="getPlaylistInfo($index)">{{playlistName.title}}</button>-->
        <!--</section>-->
    </div>
      <div class="col-md-6">
        <table class="table">
          <thead>
          <tr>
            <th>Track</th><th>Song</th><th>Artist</th><th>Album</th>
          </tr>
          </thead>
          <tbody ng-repeat="playlist in playlistInfo">
          <tr class="track-info-table-row">
            <td></td><td>{{playlist.song}}</td><td>{{playlist.artist}}</td><td>{{playlist.album}}</td>
          </tr>
          </tbody>
        </table>


        <!--<section class="saved-playlist-container" ng-repeat="playlist in playlistInfo">-->
          <!--<h4 class="song-info-element">hola &#45;&#45;&#45;&#45; {{playlist.song}}</h4>-->


        <!--<h3>Select a Playlist</h3>-->
        <!--<br />-->
        <!---->
          <!--<div class="saved-playlist-container-tracklist" ng-if="selectedPlaylist">-->
        <!---->
        <!---->
            <!--<h1>{{selectedPlaylist.playlist.playlist_name}}</h1>-->
            <!--<p><span class="track-span">Track 1 ::</span>-->
              <!--{{selectedPlaylist.playlist.tracklist[0].track_one_info.song}} &#45;&#45; {{selectedPlaylist.playlist.tracklist[0].track_one_info.artist}} &#45;&#45; {{selectedPlaylist.playlist.tracklist[0].track_one_info.album}}-->
        <!---->
            <!--</p>-->
            <!--<br />-->
            <!--<p><span class="track-span">Track 2 ::</span>-->
              <!--{{selectedPlaylist.playlist.tracklist[0].track_two_info.song}} &#45;&#45; {{selectedPlaylist.playlist.tracklist[0].track_two_info.artist}} &#45;&#45; {{selectedPlaylist.playlist.tracklist[0].track_two_info.album}}-->
            <!--</p>-->
            <!--<br />-->
            <!--<p><span class="track-span">Track 3 ::</span>-->
              <!--{{selectedPlaylist.playlist.tracklist[0].track_three_info.song}} &#45;&#45; {{selectedPlaylist.playlist.tracklist[0].track_three_info.artist}} &#45;&#45; {{selectedPlaylist.playlist.tracklist[0].track_three_info.album}}-->
            <!--</p>-->
            <!--<br />-->
            <!--<p><span class="track-span">Track 4 ::</span>-->
              <!--{{selectedPlaylist.playlist.tracklist[0].track_four_info.song}} &#45;&#45; {{selectedPlaylist.playlist.tracklist[0].track_four_info.artist}} &#45;&#45; {{selectedPlaylist.playlist.tracklist[0].track_four_info.album}}-->
        <!---->
            <!--</p>-->
            <!--&lt;!&ndash; <button ng-click="deletePlaylist(selectedPlaylist._id)">Delete Playlist</button> &ndash;&gt;-->
          <!--</div>-->
        <!--</section>-->
      </div>
    </div>
  </div>
</div>