<div class="container">
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <h2>You are {{userName}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <table class="table">
        <thead>
          <tr>
            <th>Your Playlists</th>
          </tr>
        </thead>
        <tbody ng-repeat="playlistName in playlistNames">
          <tr class="select-playlist-table-row" ng-click="getPlaylistInfo($index)">
            <td class="ng-class: {
              active: isActive === playlistName,
              inactive: isActive !== playlistName
              };">{{playlistName.title}}</td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="col-md-6">
        <button class="discovery-tab" ng-show="showPlaylistButtons" ng-click="discoverModalOpen()">Discover New Songs</button>
        <button class="discovery-tab" ng-show="showPlaylistButtons" ng-click="addOwnSongModalOpen">Add Your Own Music</button>
        <table class="table">
          <thead>
            <tr>
              <th>Track</th><th>Song</th><th>Artist</th><th>Album</th>
            </tr>
          </thead>
          <tbody ng-repeat="playlist in playlistInfo">
            <tr class="track-info-table-row">
              <td></td><td>{{playlist.song}}</td><td>{{playlist.artist}}</td><td>{{playlist.album}}</td>
            </tr>
          </tbody>
        </table>
        <button ng-show="showPlaylistButtons" ng-click="deletePlaylist()">Delete Playlist</button>
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="discoverNewSongModalContent.html">
  <div class="modal-body container">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <h3>Discover new songs!</h3>
          <select ng-model="selectedGenre" ng-options="genre.query as genre.label for genre in genres">Select a Genre!</select>

          <button class="discover-button" ng-click="discoverSongs()">Discover</button>

          <div ng-repeat="tune in discoveredSong">
            <h3>Here's what you discovered!</h3>
            <div class="discovered-songs-container">
              <p>Song ::
                {{tune.song}}
              </p>
              <p>Artist ::
                {{tune.artist}}
              </p>
              <p>Album ::
                {{tune.album}}
              </p>
            </div>
            <button ng-click="addDiscoveredSongs(discoveredSongObject)">Add Song</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</script>