<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="form-group">
                <form class="login-form">
                    <h2>Log In</h2>
                    <input type="text" class="form-control login-username-field" ng-model="username" placeholder="Username" autofocus="" />
                    <input type="password" class="form-control login-password-field" ng-model="password" placeholder="Password" />
                    <button class="login-button btn-block" ng-click="loginUser(username, password)" type="submit">Login</button>
                    <a href="register">Register</a>
                    <!--<button ng-click="go('/reset')">Forgot Password</button>-->
                </form>
            </div>
        </div>
        <div class="col-md-5 test-app-no-login">
            <a href="#discoverMusic">Want to test the app without logging in?</a>
            <p class="no-save-warning">*You will be unable to save your created playlists.</p>
        </div>
    </div>
</div>
