<div class="container">
              <!-- Set form action and method -->
      <!--<form action="/signIn" method="post">-->
          <!--<div>-->
              <!--<label for="username">Username:</label>-->
              <!--<input type="text" name="username" id="username"/>-->
          <!--</div>-->
          <!--<div>-->
              <!--<label for="password">Password:</label>-->
              <!--<input type="password" name="password" id="password"/>-->
          <!--</div>-->
          <!--<div>-->
              <!--<button id="log-in-button" ng-click="signInUser()">Sign In</button>-->
              <!--&lt;!&ndash; <input type="submit" value="Log In"/> &ndash;&gt;-->
              <!--<a href="#register">Register</a>-->
          <!--</div>-->
      </form>
    <form class="login-form">
        <input type="text" ng-model="username" placeholder="Username" autofocus="" />
        <input type="password" class="login-password-field" ng-model="password" placeholder="Password" />
        <button class="login-button" ng-click="loginUser(username, password)" type="submit">Login</button>
        <!--<button ng-click="go('/reset')">Forgot Password</button>-->
    </form>
  </div>
