h1 {
  color: green;
}

header {
  background-color: yellow;
}

ul {
    margin: 0 5% 0 65%;
    padding: 0;
    list-style: none;

}

ul li {
    display: inline;
    float: right;
}

li a {
    color: white;
    background-color: blue;
    padding: 8px 16px 8px 16px;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}
